{% extends "index.html" %}

{% block content %}
<div class="container">
    <h4 class="pt-3 pb-3 text-white">3D Gallery</h4>
    <div class="jumbotron pt-3 pb-3">
        <div class="sketchfab-embed-wrapper row">
            <iframe class="col-lg-8" title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/80425f5e117b481087f04c47f55bfafc/embed?autospin=0.2&amp;autostart=0&amp;camera=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            <div id="blurb1" class=col-lg-4>
                <p>
                    <h6>SciFi Gun Thing - Sept 2020</h6>
                    <hr>
                    This is my first proper attempt at finishing a Blender project in a long time. I'm reasonably happy with the outcome. It's clunky and makes little sense but it was a good excercise in dusting off my Blender skills.
                </p>
                <p>
                    I used a reference image of an old-timey revolver to model the handle and trigger guard with a subsurface workflow and then kinda just winged it for the rest of the concept. In my mind I wanted there to be flaps that would raise or otherwise
                    animate when the gun was overheated or out of ammo.
                    <br>
                    It kinda ended up with an improvised feel where the classic revolver handle has been bolted to some new piece of technology.
                </p>
            </div>
        </div>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
            <a href="https://sketchfab.com/3d-models/scifi-handgun-concept-80425f5e117b481087f04c47f55bfafc?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">SciFi Handgun Concept</a>
            by <a href="https://sketchfab.com/Jack.McComiskey?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Jack.McComiskey</a>
            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
        <hr>       
    <div class="sketchfab-embed-wrapper row">
        <iframe class="col-lg-8" title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/be93a9a8c0d44b78bbe3881df33f98ac/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <div id="blurb2" class=col-lg-4>
            <p>
                <h6>G3A3 Rifle</h6>
                <hr>
                With this model I tried to create something that exists in the real world and I'm happy with the result, I imported a reference image into Blender and modeled each piece over several evenings. I also did a block out to get the proportions from the
                reference image correctly.
            </p>
            <p>
                I'm getting more comfortable with working with sub divided surfaces like on the stock and grip. It is a bit on the high-poly side, especially in said stock and grip object.
            </p>
            <p>
                Overall its recognisable as the G3A3 rifle to those familiar and I learnt a good amount working on this start to finish.
            </p>
        </div>
    </div>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/g3a3-rifle-be93a9a8c0d44b78bbe3881df33f98ac?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">G3A3 Rifle</a>
        by <a href="https://sketchfab.com/Jack.McComiskey?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Jack.McComiskey</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
    <hr>
    <div class="sketchfab-embed-wrapper row">
        <iframe class="col-lg-8" title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/f75ec6282acc4d0db0b30e889c56e84f/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1&amp;preoload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <div id="blurb3" class=col-lg-4>
            <p>
                <h6>Dumpster and Bonus Trash</h6>
                <hr>
                Not exactly thrilling, but often neccesary are these detail pieces for larger scenes. I made this asset as part of a larger scene I'm working on and seperated it out to highlight some of my first attempts at using Substance Painter.
            </p>
            <p>
                In this scene I've included some example detail objects such as a basic bin bag, cardboard boxes and a wet pavement to set a sort of example scene.
            </p>
            <p>
                The pavement may look a bit strange in the preview, start the model viewer and the texture will load correctly
            </p>
        </div>
    </div>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/dumpster-f75ec6282acc4d0db0b30e889c56e84f?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Dumpster</a>
        by <a href="https://sketchfab.com/Jack.McComiskey?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Jack.McComiskey</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
    <hr>
    </div>
</div>
{% endblock %}