{% extends "index.html" %}

{% block content %}

<div class="portfolio">
   <div class="container jumbotron pt-3 pb-3">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-thumbnail float-left" src="{{ url_for('static', filename='/images/portfolioprofilepicture.jpg') }}">
          </div>
            <div class="col-lg-8 text-center">  
                <h1><span class="ion-minus"></span>Jack McComiskey<span class="ion-minus"></span></h1>
                <div id="carouselContent" class="carousel slide" data-ride="carousel" data-interval="5000">
                  <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active text-center p-4">
                        <h3></span>Game Developer</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>3D Generalist</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>Game Designer</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>Python Developer</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>Software Engineer</span></h3>
                      </div>
                  </div>
                </div>
                <p class="text-">
                  I'm Jack McComiskey, a game developer from Northern Ireland. I'm interested in all aspects of game development and I'm currently working as a software engineer 
                  and building out my portfolio of work.
                  <br>
                  <br>
                  I have always been passionate about videogames I started out with 3D modelling and then during completion of my masters degree in computer games development, I learned to
                  program.
                  <br>
                  <br>
                  I have experience with Blender, Unity3D and most recently I have started working with Unreal Engine 4. My goal in the next 5 years is to be working full-time making videogames either here in
                  Northern Ireland or elsewhere/remotely.
                  <br>
                  <br>
                  If anything catches your eye, please feel free to contact me via any of my social media links or via e-mail. Thanks!
        
                </p>
              </div>
        </div>

        <hr>
        <h3>Recent Works</h3>
        <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 hovereffect">
			   		<img class="img-rounded" src="{{ url_for('static', filename='/images/gamescreenshot1.png') }}" alt="Screenshot of .FLO my first completed Unity2D Game">
             <div class="overlay">
              <h2>Unity2D: FLO</h2>
              <a class="info" href="{{ url_for('FLOOverview') }}">GO</a>
           </div>
			   	</a>                                                    
			</div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 hovereffect">
        <img class="img-rounded" src="{{ url_for('static', filename='/images/g3screenshot.png') }}" alt="Screenshot of a 3D modelled G3A3 Rifle">
        <div class="overlay">
         <h2>Blender: G3A3</h2>
         <a class="info" href="https://sketchfab.com/3d-models/g3a3-rifle-be93a9a8c0d44b78bbe3881df33f98ac?utm_medium=embed&utm_source=website&utm_campaign=share-popup">GO</a>
      </div>
      </a>                                                    
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 hovereffect">
        <img class="img-rounded" src="{{ url_for('static', filename='/images/supersignalboy.png') }}" alt="Screenshot of Super Signal Boy">
        <div class="overlay">
         <h2>Unity3D: Super Signal Boy</h2>
         <a class="info" href="{{ url_for('SSBOverview') }}">GO</a>
      </div>
      </a>                                                    
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 hovereffect">
        <img class="img-rounded" src="{{ url_for('static', filename='/images/mediumblog.png') }}" alt="Link to Medium Blog">
        <div class="overlay">
         <h2>Blog: Latest Post</h2>
         <a class="info" href="https://medium.com/p/735706e71620">GO</a>
      </div>
      </a>                                                    
      </div>

      </div>  
    </div>
    </div>
    </div>



{% endblock %}