{% extends "index.html" %}

{% block content %}

<div class="portfolio">
   <div class="container jumbotron pt-3 pb-3">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-thumbnail float-left" src="{{ url_for('static', filename='/images/portfolioprofilepicture.jpg') }}">
          </div>
            <div class="col-lg-8 text-center">  
                <h1><span class="ion-minus"></span>Jack McComiskey<span class="ion-minus"></span></h1>
                <div id="carouselContent" class="carousel slide" data-ride="carousel" data-interval="5000">
                  <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active text-center p-4">
                        <h3></span>Game Developer</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>3D Generalist</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>Game Designer</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>Python Developer</span></h3>
                      </div>
                      <div class="carousel-item text-center p-4">
                        <h3></span>Cybersecurity Professional</span></h3>
                      </div>
                  </div>
                </div>
                <p class="text-">
                  I'm Jack McComiskey, a game developer from Northern Ireland. I'm interested in all aspects of game development and I'm currently working as a cybersecurity
                  professional and building out my portfolio of work.
                  <br>
                  <br>
                  I have always been passionate about videogames I started out with 3D modelling and then during completion of my masters degree in computer games development, I learned to
                  program.
                  <br>
                  <br>
                  I have experience with Blender, Unity3D and most recently I have started working with Unreal Engine 4. My goal in the next 5 years is to be working full-time making videogames either here in
                  Northern Ireland or elsewhere/remotely.
                  <br>
                  <br>
                  If anything catches your eye, please feel free to contact me via any of my social media links or via e-mail. Thanks!
        
                </p>
              </div>
        </div>

        <hr>
        <h3>Recent Works</h3>
        <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 hovereffect">
			   		<img class="img-rounded" src="{{ url_for('static', filename='/images/gamescreenshot1.png') }}" alt="Screenshot of .FLO my first completed Unity2D Game">
             <div class="overlay">
              <h2>Unity2D: FLO</h2>
              <a class="info" href="{{ url_for('FLOOverview') }}">GO</a>
           </div>
			   	</a>                                                    
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   	<a href="#">
			     	<img class="img-rounded" src="https://images.pexels.com/photos/401107/pexels-photo-401107.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
			   	</a>   					    				
			</div>
				
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   	<a href="#">
			   		<img class="img-rounded" src="https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
			   	</a>    					    				
			</div>
				
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   	<a href="#">
			   		<img class="img-rounded" src="https://images.pexels.com/photos/6253/city-street-typography-design.jpg?h=350&auto=compress&cs=tinysrgb" alt="">
			   	</a>    					    				
			</div>
               
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   	<a href="#">
			   		<img class="img-rounded" src="https://images.pexels.com/photos/414974/pexels-photo-414974.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
			   	</a>  					    				
			</div>
                
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   	<a href="#">
			   		<img class="img-rounded" src="https://images.pexels.com/photos/137141/pexels-photo-137141.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
			   	</a> 					    				
			</div>
                
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   <a href="#">
			   		<img class="img-rounded" src="https://images.pexels.com/photos/207665/pexels-photo-207665.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
			   	</a>					    				
			</div>
            
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			   	<a href="#">
			   	    <img class="img-rounded"  src="https://images.pexels.com/photos/121734/pexels-photo-121734.jpeg?h=350&auto=compress&cs=tinysrgb">
			   	</a>  					    				
			</div>
        </div>  
    </div>
    </div>
    </div>



{% endblock %}