{% extends "index.html" %}

{% block content %}
<div class="container">
    <h4 class="pt-3 pb-3 text-white">What's a Kobalt Box?</h4>
    <div class="jumbotron pt-3 pb-2">
    <p>Welcome, my name is Jack McComiskey and I'm an aspiring game developer from Northern Ireland. Kobalt Box is the name I'm using to act as a pseudo games company that in reality is more of a portfolio of work that I want to share.</p>
    <p>On this site I intend to demonstrate my game development skills and as a bonus, Python and Flask. The source code and files from all works demonstrated here are available for download including the code for the site itself.</p>
    <p>Below are some quick links to interesting content:</p>
    </div>

    <div class="row mb-3">
    <div class="col-lg-3">
        <div class="card p-2" style="width: 16rem;  height: 22rem;">
            <h5 class="card-title">Latest Game Demo</h5>
            <img class="card-img-top" style="height: 9rem;" src="{{ url_for('static', filename='/images/gamescreenshot1.png') }}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Take a look at the latest game demo and download the source code</p>
            </div>
            <a href="{{ url_for('FLOOverview') }}" class="btn btn-primary">Check it out</a>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="card p-2" style="width: 16rem; height: 22rem;">
                <h5 class="card-title">Latest Blog Post</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='/images/blog.png') }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Most recent musings from myself</p>
                </div>
                <a href="{{ url_for('blog') }}" class="btn btn-primary">Go there now</a>
              </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-2" style="width: 16rem;  height: 22rem;">
                    <h5 class="card-title">Render Gallery</h5>
                    <img class="card-img-top" src="{{ url_for('static', filename='/images/renderscreenshot.png') }}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Feast your eyes on a gallery of game art</p>
                    </div>
                    <a href="{{ url_for('gallery') }}" class="btn btn-primary">Buckle up</a>
                  </div>
                </div>
                <div class="col-lg-3">
                    <div class="card p-2" style="width: 16rem;  height: 22rem;">
                        <h5 class="card-title">Get in touch</h5>
                        <div class="card-body text-center">
                          <a type="button" class="btn btn-info mb-3" href="https://twitter.com/Jackmccomiskey">Personal Twitter</a>
                          <button type="button" class="btn btn-info mb-3">Kobalt Box Site Source</button>
                          <button type="button" class="btn btn-info mb-3">Kobalt Box Github Org</button>
                        </div>
                      </div>
                    </div>
    </div>
</div>
{% endblock %}